table {
    border-collapse: collapse;
}

td {
    border: 1px solid #AAAAAA;
    width: 1.5rem;
    height: 1.5rem;
}

.header {
    display: flex;
    justify-content: space-evenly;
}

.grid-container {
    display: flex;
    justify-content: center;
}

.wall-cell {
    background-color: #343A40;
}

.animate-wall-cell {
    background-color: rgba(52, 58, 64, 0.8);
    transform: scale(0.9);
    transform-origin: center;
}

.animate-path-cell {
    background: linear-gradient(#FFE8A5, #007BFF);
}


.path-cell {

    background-color: #007BFF;
}

.searched-cell {
    background-color: #FFE8A5;
}

.start-cell {
    background-color: aqua;
}