table {
    border-collapse: collapse;
}

td {
    border: 1px solid black;
    width: 1rem;
    height: 1rem;
}

.wall-cell {
    /* animation-name: example;
    animation-duration: 0.5s; */
    background-color: navy;
}

@keyframes example {
    from {
        background-color: white;
    }

    to {
        background-color: navy;
    }
}

.path-cell {
    background-color: lightblue;
}

.searched-cell {
   


    background-color: lightgreen;
}

.start-cell {
    background-color: aqua;
}